---
import Layout from "@/layouts/Layout.astro";
---
<Layout>
	<div class="bg-accent-foreground min-h-dvh flex place-items-center place-content-center">
		<div class="prose prose-3xl prose-invert flex flex-col">
			<h1 class="font-mono text-emerald-200 leading-none mb-0">
				Andre Clark<span class="animate-ping duration-[2000ms]">_</span>
			</h1>
			<h2 class="leading-none mt-0 text-3xl">Front End Web Developer</h2>
		</div>
	</div>
</Layout>