---
import Button from "@/components/starwind/button";
import Layout from "@/layouts/Layout.astro";
---
<Layout>
	<div class="bg-indigo-950 min-h-dvh flex place-items-center place-content-center">
		<div class="flex flex-col prose prose-invert prose-4xl prose-headings:my-0 prose-h1:text-9xl prose-h2:text-3xl">
			<h1 class="font-mono font-bold text-emerald-400 leading-none mb-0">
				Andre Clark<span class="-ml-1 animate-pulse duration-1000">_</span>
			</h1>
			<h2>Front End Web Developer</h2>
			<div>
				<Button variant="primary" size="lg">
					Press me
				</Button>
			</div>
		</div>
	</div>
</Layout>